In [ ]:
#exo1
import sqlite3
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''CREATE TABLE students(
                  ID INTEGER PRIMARY KEY AUTOINCREMENT,
                  name text,
                  email text,
                  phone INTEGER,
                  section text,
                  )
                  ;''')
conn.commit()
conn.close()

In [ ]:
#exo2
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''INSERT INTO students(name,email,phone,section) VALUES ('David',"david@gmail.com",333785123,'Math')
                  ;''')
conn.commit()
conn.close()

In [17]:
#Afficher les tables
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''SELECT name FROM sqlite_master WHERE type='table'
                  ;''')
tables = cursor.fetchall()
for table in tables:
    print(table[0])

conn.close()

sqlite_sequence
students

In [ ]:
#supprimer une table
conn = sqlite3.connect("school.db")
cursor=conn.cursor()
cursor.execute('''DROP TABLE school''')
conn.commit()
conn.close()

In [ ]:
#mettre ajour une table
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''UPDATE students set (ID)=1 WHERE name="bim"
                  ;''')
conn.commit()
conn.close()

In [18]:
#afficher une table
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''SELECT * FROM students
                  ;''')
tables = cursor.fetchall()
for table in tables:
    print(table)

conn.close()

(1, 'David', 'david@gmail.com', 333785123, 'Math')
(4, 'bim', 'bim@gmail.com', 123456789, 'svt')

In [ ]:
#supprimer une ligne
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
cursor.execute('''DELETE FROM students WHERE ID != 1
                  ;''')
conn.commit()
conn.close()

In [ ]:
#exo3
import sqlite3

conn=sqlite3.connect("school.db")
cursor=conn.cursor()
name=input("saisir le nom de l'etudiant:")
email=input("saisir l'email de l'etudiant:")
phone=int(input("saisir le telephone de l'etudiant:"))
section=input("saisir la section de l'etudiant:")
cursor.execute('''INSERT INTO students (name,email,phone,section)  
VALUES (?,?,?,?);''',(name,email,phone,section))

conn.commit()
conn.close()

In [ ]:
#exo4
import sqlite3
conn=sqlite3.connect("mydatabase.db")
conn.commit()
cursor=conn.cursor()
cursor.execute('''CREATE TABLE IF NOT EXISTS  users(
ID INTEGER PRYMARY KEY AUTO INCREMENT,
username text,
password text UNIQUE
);''')
conn.commit()
cursor.execute('''INSERT INTO users VALUES 
(1,"adja",12345),
(2,"kenza",23456),
(2,"aicha",34567),
(3,"ndeye",46189),
(4,"ibrahima",77866),
(5,"aida",10004),
(6,"mouhamed",19789),
(7,"badiene",56001),
(8,"modou",83020),
(9,"baye",55392),
(10,"lamine",09732),
(11,"john",94037)
;''')
conn.commit()

In [19]:
#exo4
import sqlite3
conn=sqlite3.connect("mydatabase.db")
conn.commit()
cursor=conn.cursor()


#afficher
cursor.execute('''SELECT * FROM users ;''')
tables=cursor.fetchall()
for tab in tables:
    print(tab)
#afficher jonh
cursor.execute('''SELECT * FROM users WHERE username = "john" ;''')
result=cursor.fetchall()
for table in result:
    print(table)
conn.commit()   
conn.close()

(1, 'adja', 'azerty')
(3, 'ndeye', '46189')
(4, 'ibrahima', '77866')
(5, 'aida', '10004')
(6, 'mouhamed', '19789')
(7, 'badiene', '56001')
(8, 'modou', '83020')
(9, 'baye', '55392')
(10, 'lamine', '9732')
(11, 'john', '94037')
(11, 'john', '94037')

In [11]:
#exo4 changer le mot de passe
import sqlite3
conn=sqlite3.connect("mydatabase.db")
cursor=conn.cursor()
cursor.execute('''UPDATE users SET password="azerty" WHERE ID = 1;''')
conn.commit()
cursor.execute('''DELETE FROM users WHERE ID=2;''')
conn.commit()
conn.close()

In [12]:
#exo4 creer la table
import sqlite3
conn=sqlite3.connect("mydatabase.db")
cursor=conn.cursor()
conn.execute('''CREATE TABLE IF NOT EXISTS posts (
ID INTEGER PRIMARY KEY ,
content text,
user_id INTEGER NOT NULL,
FOREIGN KEY (user_id) REFERENCES users(ID))
;''')
conn.commit()
conn.close()

In [13]:
#exo4 aussi
import sqlite3
conn=sqlite3.connect("mydatabase.db")
cursor=conn.cursor()
conn.execute('''INSERT INTO posts (user_id,content) VALUES 
(7,"bondir loin"),
(6,"finir son repas"),
(4,"chosir une exercice"),
(9,"apprendre la lecon"),
(2,"partir en vacance"),
(1,"franchir le pas"),
(3,"sauter loin"),
(5,"marcher rapidement"),
(10,"j'apprécie mes eleves"),
(8,"je recite")
 ;''')
conn.commit()
conn.close()

In [31]:
import sqlite3
conn=sqlite3.connect("mydatabase.db")
cursor=conn.cursor()
conn.execute('''SELECT * FROM posts WHERE ID = 1  ;''')
results=cursor.fetchall()
for row in results:
    print(row)
conn.close()

In [37]:
#afficher 
print("a")
import sqlite3
print("b")
conn=sqlite3.connect("mydatabase.db")
print("c")
cursor=conn.cursor()
print("d")
conn.execute('''SELECT name FROM sqlite_master WHERE type='table' ;''')
print("e")
tables = cursor.fetchall()
print("f")
for t in tables:
    print("g")
    print(t)
print("h")
conn.commit()
conn.close()

a
b
c
d
e
f
h

In [51]:
#Afficher les tables
import sqlite3
conn = sqlite3.connect("school.db")
cursor = conn.cursor()
conn.execute('''SELECT name FROM sqlite_master WHERE type='table'
;''')
tables = cursor.fetchall()
for table in tables:
    print(table[0])

conn.close()

In [53]:
#exo5 creation de la bd
import sqlite3
conn=sqlite3.connect("database.db")
cursor=conn.cursor()
conn.execute('''CREATE TABLE IF NOT EXISTS costumers(
ID INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT NOT NULL,
email TEXT NOT NULL,
phone INTEGER NOT NULL
);''')
conn.commit()
#conn.execute('''INSERT INTO costumers ''')
conn.close()

In [54]:
#Exo5 insertion dans la db
import sqlite3
conn=sqlite3.connect("database.db")
cursor=conn.cursor()
conn.execute('''INSERT INTO costumers(name,email,phone) VALUES 
("Nathalie","nathalie@gmail.com",3331567843),
("Najat","najat@gamail.com",2123458991),
("Majid","majid@gmail.com",2123456677),
("Hayat","haya@gmail.com",2123456773),
("Albert","albert@gmail.com",3336672245)
;''')
conn.commit()
conn.close()

In [6]:
# j'affiche juste pour verifier l'exo5 
import sqlite3
conn=sqlite3.connect("database.db")
cursor=conn.cursor()
conn.execute('''SELECT * FROM costumers;''')
results= cursor.fetchall()
for row in results:
    print(row)
conn.close()

In [1]:
#Exo6  creation 
import sqlite3
conn=sqlite3.connect('data.db')
cursor=conn.cursor()
conn.execute('''CREATE TABLE IF NOT EXISTS students (
id INTEGER PRIMARY KEY AUTOINCREMENT,
name TEXT NOT NULL,
email TEXT NOT NULL,
section TEXT NOT NULL
);''')
conn.commit()
conn.close()

In [82]:
#EXO6 insertion des donnes
import sqlite3
import pandas as pd
#conn=sqlite3.connect('data.db')
#cursor=conn.cursor()
Student_data =[{"Name":"Farid","Email":"farid@gmail.com","Section":"Math"},
               {"Name":"Najat","Email":"najat@gmail.com","Section":"Info"},
               {"Name":"Hafid","Email":"hafid@gmail.com","Section":"HG"},
               {"Name":"Nathalie","Email":"nathalie@gmail.com","Section":"Sc Eco"},
               {"Name":"Majid","Email":"majid@gmailcom","Section":"SVT"},
               {"Name":"Alberto","Email":"alberto@gmail.com","Section":"Physique"}]
df=pd.DataFrame(Student_data)
#for name in Student_data:
#    Name=Name[]
    
#conn.execute('''INSERT INTO
#''')

In [ ]:
EXO6 :
la liste suivante contient les données d'un groupe d'étudiants sous forme de dictionnaires Python.
Chaque dictionnaire contient les données d'un étudiant: 'Name', 'Email', 'Section' etc.:

Students_data = [{"Name" :"Farid", "Email": 'farid@gmail.com', "Section": "Math" } , 
           {"Name" : "Najat", "Email" : 'najat@gmail.com', "Section": "Info"} , 
           {"Name" : "Hafid", "Email": , 'hafid@gmail.com', "Section": "HG"} ,
           {"Name" : "Nathalie","Email": 'nathalie@gmail.com', "Section": "Sc Eco" } ,
           {"Name" : "Majid", "Email": 'majid@gmail.com', "Section": "SVT"} , 
           {"Name" : "Alberto","Email": 'alberto@gmail.com',  "Section": "Physique"} ]
Programme Python pour créer une base de données SQLite:
Ecrire un algorithme Python qui permet de créer une base de données SQLite nommée 'data.db' au sein de laquelle 
une table SQLite nommée 'students' possédant les mêmes attributs que la liste des données 'Students_data' ci-dessus:
    'name', 'email', 'section' sans oublier la clée primaire 'id autoincrement.
Programme Python pour insérer les données : 
Ecrire un autre algorithme qui permet d'insérer les données de la liste 'Students_data' dans la table SQLite 'students'.
Programme Python pour afficher les données : 
Ecrire un programme qui permet d'afficher les données depuis la table SQLite 'students'.

In [ ]:
	BASE DE DONNÉES EN PYTHON AVEC SQL (Module 2)

Exercice :
EXO1 :
Ecrire un programme python permettant de créer une base de donnée sqlite nommée school, et une table SQLite au sein de la base de donnée nommée students ayant pour attributs : Id (INTEGER autoincrement , primary key), name (du type text) , email( text) , phone( INTEGER) , section ( text)

Exo2 :

Reprendre l'énoncé de l'exercice précendent et écrire un programme Python qui permet d'insérer les données:
Python
name     =  'David'
<b>email</b>    =  'david@gmail.com' 
<b>phone</b>    =  333785123
<b>section</b>  =  'Math'

EXO3:

Reprendre l'énoncé de l'exercice précédent et écrire un programme Python qui permet d'insérer les données saisies par l'utilisateur via la méthode input():
name      = input("Saisir le nom de l'étudiant : ")
email     = input("Saisir l'email de l'étudiant : ")
phone     = int(input("Saisir le téléphone de l'étudiant : "))
section   = input("Saisir la section de l'étudiant : ")

EXO4 :
Créez une base de données SQLite vide 'mydatabase.db' et connectez-vous à celle-ci à l'aide de Python.
Créez une table nommée "users" contenant des colonnes "id", "username" et "password".
Insérez des données dans la table "users".
Affichez tous les enregistrements de la table "users".
Affichez tous les enregistrements de la table "users" dont le nom d'utilisateur est "john".
Mettez à jour le mot de passe de l'utilisateur dont l'ID est 1.
Supprimez l'utilisateur dont l'ID est 2.
Créez une autre table nommée "posts" contenant des colonnes "id", "user_id" et "content".
Insérez des données dans la table "posts".
Affichez tous les enregistrements de la table "posts" liés à l'utilisateur dont l'ID est 1

EXO5 :

Ecrire un programme en Python qui permet de créer une base de données SQLite nommée 'database.db' au sein de laquelle une table nommée 'customers' ayant les attributs suivants :

id : INTGER AUTOINCREMENT
name : TEXT NOT NULL
email: TEXT NOT NULL
phone : INTEGER NOT NULL
2) Créer un autre programme Python qui permet d'insérer les données suivantes dans la table customers :


#L'image ici ne s'affiche pas 


EXO6 :
a liste suivante contient les données d'un groupe d'étudiants sous forme de dictionnaires Python. Chaque dictionnaire contient les données d'un étudiant: 'Name', 'Email', 'Section' etc.:

Students_data = [{"Name" :"Farid", "Email": 'farid@gmail.com', "Section": "Math" } , 
           {"Name" : "Najat", "Email" : 'najat@gmail.com', "Section": "Info"} , 
           {"Name" : "Hafid", "Email": , 'hafid@gmail.com', "Section": "HG"} ,
           {"Name" : "Nathalie","Email": 'nathalie@gmail.com', "Section": "Sc Eco" } ,
           {"Name" : "Majid", "Email": 'majid@gmail.com', "Section": "SVT"} , 
           {"Name" : "Alberto","Email": 'alberto@gmail.com',  "Section": "Physique"} ]
Programme Python pour créer une base de données SQLite: Ecrire un algorithme Python qui permet de créer une base de données SQLite nommée 'data.db' au sein de laquelle une table SQLite nommée 'students' possédant les mêmes attributs que la liste des données 'Students_data' ci-dessus: 'name', 'email', 'section' sans oublier la clée primaire 'id autoincrement.
Programme Python pour insérer les données : Ecrire un autre algorithme qui permet d'insérer les données de la liste 'Students_data' dans la table SQLite 'students'.
Programme Python pour afficher les données : Ecrire un programme qui permet d'afficher les données depuis la table SQLite 'students'.