In [1]:
#Module 1
import pandas as pd
import numpy as np

In [12]:
#exo1
ID=[1,2,3,4,5]
dict={
      'Name':['Albert','Nathalie','Robert','Jesika','Adam'],
      'Email':['albert@gmail.com','nathalie@gmail.com','robert@gmail.com','jesika@gmail.com','adam@gmail.com'],
      'Section':['SVT','SC ECO','MATH','PHILO','PHYSIQHE']    
}
data=pd.DataFrame(dict,index=ID)
data

       Name               Email   Section
1    Albert    albert@gmail.com       SVT
2  Nathalie  nathalie@gmail.com    SC ECO
3    Robert    robert@gmail.com      MATH
4    Jesika    jesika@gmail.com     PHILO
5      Adam      adam@gmail.com  PHYSIQHE

In [2]:
#exo2
list=['P','y','t','h','o','n']
c=pd.Series(list)
answer=""
for i in range(0,len(list)):
    answer+=list[i]
print(answer)

Python

In [9]:
#exo3
list=['Python','Dinago','Tkinter','pyOt','numpy']
c=pd.Series(list)
c=c.drop([4])
print(c)

0     Python
1     Dinago
2    Tkinter
3       pyOt
dtype: object

In [ ]:
#exo4
list=['python','Diango','Tkinter','pyOt','numpy']
c=pd.Series(list)
c=c.drop(r

In [ ]:
4. Reprendre l'exercice précédent (Exercice3) en créant cette fois-ci un programme basé sur la bibliothèque
pandas python qui supprime les éléments d'index pair de la série.
5. Créer un programme basé sur la bibliothèque pandas python qui renvoie une série pandas à partir de la liste python: 
    L = ['python' , 'Java' , 'PHP', 'Javascript' , 'C++']. sans utiliser la bibliothèque numpy!
6Modfifier le programme suivant afin de supprimer la colonne 'Section' et la remplacer par la colonne: 
Age = [ 22 , 23 , 21 , 20 , 25 ] sans toucher à laliste data.
les modifiction doivent être apportées uniquement au DataFrame df:
1
2
3
4
5
6
7
8
9
10
11
12	import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])


7.A partir du programme suivant qui represente les données des étudiants dans un DataFrame:
1
2
3
4
5
6
7
8
9
10
11
12	import pandas as ps
 
# liste des données
data = [['Tomas' , 'tomas@gmail.com' , 'Math'], 
        ['Albert' ,'albert@gmail.com' , 'SVT' ],
        ['Nathalie', 'nathalie@gmail.com' , 'Sc Eco'], 
        ['Roberto' ,'roberto@gmail.com' , 'Physique'],
        ['Adam' , 'adam@gmail.com' , 'Info']]
labels = [11 , 12, 13 , 14, 15]
 
# création du DataFrame
df = ps.DataFrame(data , index=labels , columns=[ 'Name' , 'Email' , 'Section'])
Ecrire un programme qui récupère les emails des étudiants en une liste: list_emails =[ ... ] sans toucher 
à la liste data des données. Les manipulations doivent être apportées uniquement au niveau du DataFrame df.
8.Reprendre l'exercice précédent (Exercice 8) avec cette fois-ci un affichage trié selon l'âge décroissant.
9. Reprendre l'exercice précédent (Exercice 8) avec cette fois-ci un affichage trié selon l'âge décroissant
10. Ecrire un algorithme basé sur la bibliothèque pandas python qui permet de remplacer les valeurs négatives
de la série suivante par des zéros:
data = np.array ([43 , -25 , 79  ,  37 , -22  , 34 ])
s = ps.Series(data)
Sans toucher à la liste data. Les manipulations doivent être faites uniquement sur la série pandas s=ps.Series(data)